.cart-btn:hover{
    cursor: pointer;
    color: var(--color-pink);
}

.cart-counter{
    background-color: var(--color-red);
    transform: translateX(30px) translateY(-10px);

    margin-left: -15px;

    text-align: center;
    height: 1.2rem;
    width: 1.2rem;

    color: var(--color-white);
    font-family: 'Anton', sans-serif;
    line-height: 1.2rem;
    font-size: .8rem;
    border-radius: 50%;
}

