.header{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    height: 80px;
    z-index: 175;
}

#page-logo{
    height: 40px;
}

.header-btn{
    cursor: pointer;
    padding: 4px;
}

.header-btn:hover{
    color: var(--color-blue)
}

.header-btn:active{
    color: var(--color-blue-light);
}

.header__right-side > *{
    display: flex;
    align-items: center;
    margin-left: 1rem;
}

