.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    height: 80px;
}

#page-logo{
    height: 40px;
}

.header-btn{
    cursor: pointer;
    padding: 4px;
}

.header-btn:hover{
    color: var(--color-main)
}

.header-btn:active{
    color: var(--color-main-light);
}