.grid-container{
    height: 50%;
    width: 100%;
}

.grid-container.first{
    margin-top: auto;
}

.grid-container.second{
    margin: auto;
}

.grid-container.third{

}

.grid{
    box-sizing: border-box;
    padding: 3rem 0;
    height: calc(100vh - 80px);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem
}



