
.grid-container.first{
    margin-top: auto;
}

.grid-container.second{
    margin: auto;
}

.grid{
    margin-top: -3rem;
    box-sizing: border-box;
    padding: 3rem 0;
    min-height: calc(100vh - 80px);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem
}

.grid-container:hover .grid-container__description{
    transition: linear 0.2s;
    transform: translateY(0);
}

.grid-container__description{
    text-decoration: none;
    color: var(--color-dark-grey);
    text-shadow: 1px 1px var(--color-background-dark);
    font-size: 2rem;
    font-weight: 600;
    transform: translateY(1rem);
    transition: ease-out .2s;
}



