.product-form-container{
    margin-top: -80px;
    min-height: calc(100vh);
}

form div{
    display: flex;
    flex-direction: column;
    margin: 1rem 1rem 1rem 0;
}

.checkbox-container{
    align-items: center;
    height: 2rem;
    flex-direction: row;
}

.image-preview{
    background-size: 100%;
    width: 400px;
    height: 400px;
    background-color: var(--color-teal);
}

.form-container{
    display: flex;

    background-color: var(--color-white);
    border: 2px solid var(--color-teal);
    padding: 2rem;
    box-shadow: 1px 1px 6px 1px var(--color-background);
}

