:root{
    --color-white: #fff;
    --color-dark-grey: #333333;

    --color-background-light: #F1F1F1;
    --color-background: rgba(175, 175, 175, 0.5);
    --color-background-dark: rgba(0, 0, 0, 0.5);

    --color-blue:#56BABC;
    --color-blue-light: #AFDDDB;

    --color-pink:#EE6881;
    --color-pink-light: #FEF8F8;

    --color-yealow:#FCCF02;
    --color-yealow-light: #f8d87d;

    --color-teal: #479F92;
    --color-teal-light: #EAF4E4;
}

