*:before,
*:after,
*{
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container-wide{
  width: 1200px;
  margin: auto;
}

.background--main-light{
  width: 100%;
  background-color: var(--color-background-light);
}

.grid-container,
.grid-container > *{
  cursor: pointer;
  user-select: none;
}

.grid-container{
  background-size: 100% 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  transition: margin-bottom ease-out .2s;
}

.grid-container:hover .grid_container__description{
  transition: margin-bottom linear 0.2s;
  margin-bottom: 0;
}

.grid_container__description{
  text-shadow: 1px 1px var(--color-background-dark);
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: -1rem;
  transition: margin-bottom ease-out .2s;
}

.flex{
  display: flex;
}
